<div class="row">
    <div class="col align-self-center col-sm-12 col-md-6 mx-auto">
        <div class="card border-dark">
            <div class="card-header bg-dark text-white">Code Generator</div>
            <div class="card-body">
                <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="fw-normal mb-1" for="departmentID">Department:</label>
                        <input id="departmentID" autofocus formControlName="department" type="text"
                            placeholder="Department Number"
                            [ngClass]="(
                            department?.errors && (!isValidFormSubmitted
                             &&  (department.touched ||  submitted) )) ? 'form-control is-invalid' : 'form-control is-valid'" />

                        <div *ngIf="!(department?.errors 
                                && !isValidFormSubmitted 
                                && (department.touched || submitted))" class="valid-feedback">
                            Looks good!
                        </div>
                        <div *ngIf="(department?.errors 
                        && !isValidFormSubmitted 
                        && (department.touched ||  submitted))" class="invalid-feedback">
                            <div *ngIf="department?.errors?.['required']">
                                Department is required
                            </div>
                            <div *ngIf="department?.errors?.['minlength']">
                                Min Length is {{department?.errors?.['minlength'].requiredLength}}
                            </div>
                            <div *ngIf="department?.errors?.['maxlength']">
                                Max Length is {{department?.errors?.['maxlength'].requiredLength}}
                            </div>
                            <div *ngIf="department?.errors?.['pattern']">
                                Department has to be numbers
                            </div>

                        </div>

                    </div>
                    <div class="mb-3">
                        <label class="fw-normal mb-1" for="styleID">Style:</label>
                        <input formControlName="style" id="styleID" placeholder="Style Number" type="text" [ngClass]="(style?.errors 
                          && !isValidFormSubmitted 
                          && (style.touched ||  submitted)) ? 'form-control is-invalid' : 'form-control is-valid'" />
                        <div *ngIf="!(style?.errors 
                        && !isValidFormSubmitted 
                        &&  (style.touched ||  submitted))" class="valid-feedback">
                            Looks good!
                        </div>
                        <div *ngIf="(style?.errors
                          && !isValidFormSubmitted 
                          &&  (style.touched ||  submitted))" class="invalid-feedback">
                            <div *ngIf="style?.errors?.['required']">
                                Style is required
                            </div>
                            <div *ngIf="style?.errors?.['minlength']">
                                Min Length is {{style?.errors?.['minlength'].requiredLength}}
                            </div>
                            <div *ngIf="style?.errors?.['maxlength']">
                                Max Length is {{style?.errors?.['maxlength'].requiredLength}}
                            </div>
                            <div *ngIf="style?.errors?.['pattern']">
                                Style has to be numbers
                            </div>

                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="fw-normal mb-1" for="colorID">Color:<br /></label>
                        <ng-select class="custom" id="colorID" formControlName="color" [ngClass]="(color?.errors
                        && !isValidFormSubmitted 
                        && (color.touched ||  submitted)) ? 'form-control is-invalid' : 'form-control is-valid'">
                            <ng-option value="" disabled selected>Select a Color</ng-option>
                            <ng-option *ngFor="let color of colors" [value]="color.code">
                                <div class="color-circle-wrapper">
                                    <div class="color-circle" [style.backgroundColor]="color.htmlCode"></div>
                                    <div>{{color.name}}</div>
                                </div>
                            </ng-option>
                        </ng-select>
                        <div *ngIf="!(color?.errors
                        && !isValidFormSubmitted 
                        &&  (color.touched ||  submitted))" class="valid-feedback">
                            Looks good!
                        </div>
                        <div *ngIf="(color?.errors?.['required']
                                    && !isValidFormSubmitted 
                                    &&  (color.touched ||  submitted))" class="invalid-feedback">
                            <div *ngIf="color?.errors?.['required']">
                                Color is required
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="fw-normal mb-1" for="sizeID">Size: <br /></label>
                        <ng-select class="custom" id="sizeID" formControlName="size" [ngClass]="(size?.errors
                        && !isValidFormSubmitted 
                        && (size.touched ||  submitted)) ? 'form-control is-invalid' : 'form-control is-valid'">
                            <ng-option value="" disabled selected>Select a Size</ng-option>
                            <ng-option *ngFor="let size of sizes" [value]="size.code">{{size.name}}</ng-option>

                        </ng-select>

                        <div *ngIf="!(size?.errors
                        && !isValidFormSubmitted 
                        &&  (size.touched || submitted))" class="valid-feedback">
                            Looks good!
                        </div>
                        <div *ngIf="(size?.errors
                        && !isValidFormSubmitted 
                        &&  (size.touched || submitted))" class="invalid-feedback">
                            <div *ngIf="size?.errors">
                                Size is required
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-dark float-end">Generate</button>
                </form>
            </div>
            <div *ngIf="product.code" class="card-footer mx-auto">
                <app-bar-code [product]="product" *ngIf="product.code"></app-bar-code>
            </div>
        </div>
    </div>
</div>