/* You can add global styles to this file, and also import other style files */

/* Custom select2 styles */

.ng-select.custom {
    min-height: 0px;
    padding: 0;
    padding-left: 0.75em;
}

.ng-select.custom .ng-select-container::after {
    content: none;
}

.ng-select.custom .ng-select-container {
    align-items: center;
    min-height: 0;
    height: 36px;
}

.ng-select.custom .ng-select-container .ng-value-container {
    border: none;
    padding: 0;
}

.ng-select.custom ng-dropdown-panel.ng-select-bottom {
    top: calc(100% - -0.10em);
}

.ng-select.custom ng-dropdown-panel.ng-select-top {
    bottom: calc(100% - -0.10em);
}

/* Custom select2 styles */